/* Resetando estilos padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 10px;
}

strong {
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}

button:active {
  background-color: #1e7e34;
}

button:focus {
  outline: none;
}

/* Quando o status for "Desconectado", o botão de conectar aparece */
div {
  margin-top: 20px;
}

.contact-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.contact-table th, .contact-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.contact-table th {
  background-color: #218838;
  color: white;
}

.contact-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.contact-table tr:hover {
  background-color: #ddd;
}

#create-contact-form {
  max-width: 400px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

/* Estilo dos inputs */
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.form-group input:focus {
  border-color: #218838;
  outline: none;
  box-shadow: 0 0 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #218838;
}

button[type="submit"]:active {
  background-color: #28a745;
}
